# Converting CSV to SQLite database using Python and SQLite3

This notebook stores the code for [my blog]("https://medium.com/@affanhamid007/how-to-convert-csv-to-sql-database-using-python-and-sqlite3-b693d687c04a"]) on the topic. Feel free to check it out

In [ ]:
# Importing modules

import sqlite3 # To connect to SQLite database
import pandas as pd # To read in the CSV file

### Creating the Database

In [4]:
# Creating and connecting to the characters.db database in the folder
conn = sqlite3.connect('characters.db')
cursor = conn.cursor() # The cursor is where we run all our queries

In [14]:
# Loading in the csv file
df = pd.read_csv('dc-wikia-data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6896 entries, 0 to 6895
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   page_id           6896 non-null   int64
 1   name              6896 non-null   object
 2   urlslug           6896 non-null   object
 3   ID                4883 non-null   object
 4   ALIGN             6295 non-null   object
 5   EYE               3268 non-null   object
 6   HAIR              4622 non-null   object
 7   SEX               6771 non-null   object
 8   GSM               64 non-null     object
 9   ALIVE             6893 non-null   object
 10  APPEARANCES       6541 non-null   float64
 11  FIRST APPEARANCE  6827 non-null   object
 12  YEAR              6827 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 700.5+ KB

### Creating the Table

In [45]:
# Creating the characters table in the characters database in SQLite

table_name = 'characters'

# All of the columns. We replace any space with _ so columns like "FIRST APPEARANCE" get transformed to "FIRST_APPEARANCE"
columns_with_types = ", ".join([f"{col.replace(' ', '_')} TEXT" for col in df.columns]) # Eg: page_id TEXT, name TEXT, urslug TEXT, ...
create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ({columns_with_types});"

# Running the SQL query
cursor.execute(create_table_query)
cursor.fetchall()

[]

In [46]:
# Checking if the table was created property
cursor.execute('pragma table_info(characters);')
cursor.fetchall()

[(0, 'page_id', 'TEXT', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'urlslug', 'TEXT', 0, None, 0),
 (3, 'ID', 'TEXT', 0, None, 0),
 (4, 'ALIGN', 'TEXT', 0, None, 0),
 (5, 'EYE', 'TEXT', 0, None, 0),
 (6, 'HAIR', 'TEXT', 0, None, 0),
 (7, 'SEX', 'TEXT', 0, None, 0),
 (8, 'GSM', 'TEXT', 0, None, 0),
 (9, 'ALIVE', 'TEXT', 0, None, 0),
 (10, 'APPEARANCES', 'TEXT', 0, None, 0),
 (11, 'FIRST_APPEARANCE', 'TEXT', 0, None, 0),
 (12, 'YEAR', 'TEXT', 0, None, 0)]

### Filling in the table

In [54]:
#Â We iterate through each row and create the INSERT INTO query from the values
for index, row in df.iterrows():
    values = ", ".join([f'"{i}"' for i in row])
    insert_sql = f"INSERT INTO {table_name} ({', '.join(df.columns.str.replace(' ', '_'))}) VALUES ({values})"
    cursor.execute(insert_sql)

In [70]:
# Checking if our table has been filled with the data
cursor.execute('SELECT COUNT(*) FROM characters')
cursor.fetchall()

[(6896,)]

In [71]:
df.shape

(6896, 13)

In [72]:
# Commiting and closing the connection
conn.commit()
conn.close()