In [10]:
import sqlite3
import pandas as pd

In [4]:
conn = sqlite3.connect('characters.db')
cursor = conn.cursor()

In [14]:
df = pd.read_csv('dc-wikia-data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6896 entries, 0 to 6895
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   page_id           6896 non-null   int64
 1   name              6896 non-null   object
 2   urlslug           6896 non-null   object
 3   ID                4883 non-null   object
 4   ALIGN             6295 non-null   object
 5   EYE               3268 non-null   object
 6   HAIR              4622 non-null   object
 7   SEX               6771 non-null   object
 8   GSM               64 non-null     object
 9   ALIVE             6893 non-null   object
 10  APPEARANCES       6541 non-null   float64
 11  FIRST APPEARANCE  6827 non-null   object
 12  YEAR              6827 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 700.5+ KB

In [45]:
table_name = 'characters'

columns_with_types = ", ".join([f"{col.replace(' ', '_')} TEXT" for col in df.columns]) # Eg: pageId TEXT, name TEXT, urslug TEXT, ...
create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ({columns_with_types});"

cursor.execute(create_table_query)
cursor.fetchall()

[]

In [42]:
cursor.execute('DROP TABLE characters;')

In [46]:
cursor.execute('pragma table_info(characters);')
cursor.fetchall()

[(0, 'page_id', 'TEXT', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'urlslug', 'TEXT', 0, None, 0),
 (3, 'ID', 'TEXT', 0, None, 0),
 (4, 'ALIGN', 'TEXT', 0, None, 0),
 (5, 'EYE', 'TEXT', 0, None, 0),
 (6, 'HAIR', 'TEXT', 0, None, 0),
 (7, 'SEX', 'TEXT', 0, None, 0),
 (8, 'GSM', 'TEXT', 0, None, 0),
 (9, 'ALIVE', 'TEXT', 0, None, 0),
 (10, 'APPEARANCES', 'TEXT', 0, None, 0),
 (11, 'FIRST_APPEARANCE', 'TEXT', 0, None, 0),
 (12, 'YEAR', 'TEXT', 0, None, 0)]

In [54]:
for index, row in df.iterrows():
    values = ", ".join([f'"{i}"' for i in row])
    insert_sql = f"INSERT INTO {table_name} ({', '.join(df.columns.str.replace(' ', '_'))}) VALUES ({values})"
    cursor.execute(insert_sql)

In [70]:
cursor.execute('SELECT COUNT(*) FROM characters')
cursor.fetchall()

[(6896,)]

In [71]:
df.shape

(6896, 13)

In [72]:
conn.commit()
conn.close()